{{#each this}}
<li class="our-team-list-item">
    <img class="our-team-img" src="{{image}}" alt="{{name}}" />

    <div class="text-about-member">
        <h2 class="team-member-title bold">{{name}}</h2>
        <p class="text-about">{{role}}</p>
        <p class="text-about italic">{{desc}}</p>
        <a href="{{in}}" class="linkedin-ref" target="_blank">
            in
        </a>
    </div>

</li>
{{/each}}